In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:/Users/DELL/Downloads/covid_19_india.csv",index_col=0)

In [3]:
df.dtypes

Date                        object
Time                        object
State/UnionTerritory        object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

In [4]:
df["Date"]=pd.to_datetime(df["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14150 entries, 1 to 14150
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      14150 non-null  datetime64[ns]
 1   Time                      14150 non-null  object
 2   State/UnionTerritory      14150 non-null  object
 3   ConfirmedIndianNational   14150 non-null  object
 4   ConfirmedForeignNational  14150 non-null  object
 5   Cured                     14150 non-null  int64
 6   Deaths                    14150 non-null  int64
 7   Confirmed                 14150 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 994.9+ KB

In [5]:
df=df.set_index("Date")

In [6]:
df["Year"]=df.index.year
df["Month"]=df.index.month
df["WeekDays"]=df.index.weekday
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14150 entries, 2020-01-30 to 2021-04-23
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Time                      14150 non-null  object
 1   State/UnionTerritory      14150 non-null  object
 2   ConfirmedIndianNational   14150 non-null  object
 3   ConfirmedForeignNational  14150 non-null  object
 4   Cured                     14150 non-null  int64
 5   Deaths                    14150 non-null  int64
 6   Confirmed                 14150 non-null  int64
 7   Year                      14150 non-null  int64
 8   Month                     14150 non-null  int64
 9   WeekDays                  14150 non-null  int64
dtypes: int64(6), object(4)
memory usage: 1.2+ MB

In [7]:
monthend=df.groupby([df.index.year,df.index.month]).last()
monthend

              Time              State/UnionTerritory ConfirmedIndianNational  \
Date Date
2020 1     6:00 PM                            Kerala                       1
     2     6:00 PM                            Kerala                       3
     3     8:30 PM                        Unassigned                       -
     4     5:00 PM                       West Bengal                       -
     5     8:00 AM  Cases being reassigned to states                       -
     6     8:00 AM  Cases being reassigned to states                       -
     7     8:00 AM                       West Bengal                       -
     8     8:00 AM                       West Bengal                       -
     9     8:00 AM                       West Bengal                       -
     10    8:00 AM                       West Bengal                       -
     11    8:00 AM                       West Bengal                       -
     12    8:00 AM                       West Bengal                       -
2021 1     8:00 AM                       West Bengal                       -
     2     8:00 AM                       West Bengal                       -
     3     8:00 AM                       West Bengal                       -
     4     8:00 AM                       West Bengal                       -

          ConfirmedForeignNational   Cured  Deaths  Confirmed  Year  Month  \
Date Date
2020 1                           0       0       0          1  2020      1
     2                           0       0       0          3  2020      2
     3                           -       0       0         38  2020      3
     4                           -     124      22        758  2020      4
     5                           -       0       0       5491  2020      5
     6                           -       0       0       7004  2020      6
     7                           -   46256    1536      67692  2020      7
     8                           -  130952    3176     159785  2020      8
     9                           -  222805    4899     253768  2020      9
     10                          -  325888    6784     369671  2020     10
     11                          -  448032    8376     480813  2020     11
     12                          -  528829    9683     550893  2020     12
2021 1                           -  553934   10164     569769  2021      1
     2                           -  561327   10266     574926  2021      2
     3                           -  570303   10327     585933  2021      3
     4                           -  621340   10766     700904  2021      4

           WeekDays
Date Date
2020 1            4
     2            5
     3            1
     4            3
     5            6
     6            1
     7            4
     8            0
     9            2
     10           5
     11           0
     12           3
2021 1            6
     2            6
     3            2
     4            4

In [8]:
cases=monthend[["Cured","Deaths","Confirmed"]]
cases=cases.diff()
cases

              Cured  Deaths  Confirmed
Date Date
2020 1          NaN     NaN        NaN
     2          0.0     0.0        2.0
     3          0.0     0.0       35.0
     4        124.0    22.0      720.0
     5       -124.0   -22.0     4733.0
     6          0.0     0.0     1513.0
     7      46256.0  1536.0    60688.0
     8      84696.0  1640.0    92093.0
     9      91853.0  1723.0    93983.0
     10    103083.0  1885.0   115903.0
     11    122144.0  1592.0   111142.0
     12     80797.0  1307.0    70080.0
2021 1      25105.0   481.0    18876.0
     2       7393.0   102.0     5157.0
     3       8976.0    61.0    11007.0
     4      51037.0   439.0   114971.0

In [9]:
monthwise=pd.concat([monthend,cases.rename(columns={"Cured":"Monthwise_Cured",
                                                    "Deaths":"Monthwise_Deaths",
                                                    "Confirmed":"Monthwise_Confirmed"})],axis=1)
monthwise

              Time              State/UnionTerritory ConfirmedIndianNational  \
Date Date
2020 1     6:00 PM                            Kerala                       1
     2     6:00 PM                            Kerala                       3
     3     8:30 PM                        Unassigned                       -
     4     5:00 PM                       West Bengal                       -
     5     8:00 AM  Cases being reassigned to states                       -
     6     8:00 AM  Cases being reassigned to states                       -
     7     8:00 AM                       West Bengal                       -
     8     8:00 AM                       West Bengal                       -
     9     8:00 AM                       West Bengal                       -
     10    8:00 AM                       West Bengal                       -
     11    8:00 AM                       West Bengal                       -
     12    8:00 AM                       West Bengal                       -
2021 1     8:00 AM                       West Bengal                       -
     2     8:00 AM                       West Bengal                       -
     3     8:00 AM                       West Bengal                       -
     4     8:00 AM                       West Bengal                       -

          ConfirmedForeignNational   Cured  Deaths  Confirmed  Year  Month  \
Date Date
2020 1                           0       0       0          1  2020      1
     2                           0       0       0          3  2020      2
     3                           -       0       0         38  2020      3
     4                           -     124      22        758  2020      4
     5                           -       0       0       5491  2020      5
     6                           -       0       0       7004  2020      6
     7                           -   46256    1536      67692  2020      7
     8                           -  130952    3176     159785  2020      8
     9                           -  222805    4899     253768  2020      9
     10                          -  325888    6784     369671  2020     10
     11                          -  448032    8376     480813  2020     11
     12                          -  528829    9683     550893  2020     12
2021 1                           -  553934   10164     569769  2021      1
     2                           -  561327   10266     574926  2021      2
     3                           -  570303   10327     585933  2021      3
     4                           -  621340   10766     700904  2021      4

           WeekDays  Monthwise_Cured  Monthwise_Deaths  Monthwise_Confirmed
Date Date
2020 1            4              NaN               NaN                  NaN
     2            5              0.0               0.0                  2.0
     3            1              0.0               0.0                 35.0
     4            3            124.0              22.0                720.0
     5            6           -124.0             -22.0               4733.0
     6            1              0.0               0.0               1513.0
     7            4          46256.0            1536.0              60688.0
     8            0          84696.0            1640.0              92093.0
     9            2          91853.0            1723.0              93983.0
     10           5         103083.0            1885.0             115903.0
     11           0         122144.0            1592.0             111142.0
     12           3          80797.0            1307.0              70080.0
2021 1            6          25105.0             481.0              18876.0
     2            6           7393.0             102.0               5157.0
     3            2           8976.0              61.0              11007.0
     4            4          51037.0             439.0             114971.0

In [10]:
monthwise=monthwise.fillna({"Monthwise_Cured":0,"Monthwise_Deaths":0,"Monthwise_Confirmed":1})
monthwise

              Time              State/UnionTerritory ConfirmedIndianNational  \
Date Date
2020 1     6:00 PM                            Kerala                       1
     2     6:00 PM                            Kerala                       3
     3     8:30 PM                        Unassigned                       -
     4     5:00 PM                       West Bengal                       -
     5     8:00 AM  Cases being reassigned to states                       -
     6     8:00 AM  Cases being reassigned to states                       -
     7     8:00 AM                       West Bengal                       -
     8     8:00 AM                       West Bengal                       -
     9     8:00 AM                       West Bengal                       -
     10    8:00 AM                       West Bengal                       -
     11    8:00 AM                       West Bengal                       -
     12    8:00 AM                       West Bengal                       -
2021 1     8:00 AM                       West Bengal                       -
     2     8:00 AM                       West Bengal                       -
     3     8:00 AM                       West Bengal                       -
     4     8:00 AM                       West Bengal                       -

          ConfirmedForeignNational   Cured  Deaths  Confirmed  Year  Month  \
Date Date
2020 1                           0       0       0          1  2020      1
     2                           0       0       0          3  2020      2
     3                           -       0       0         38  2020      3
     4                           -     124      22        758  2020      4
     5                           -       0       0       5491  2020      5
     6                           -       0       0       7004  2020      6
     7                           -   46256    1536      67692  2020      7
     8                           -  130952    3176     159785  2020      8
     9                           -  222805    4899     253768  2020      9
     10                          -  325888    6784     369671  2020     10
     11                          -  448032    8376     480813  2020     11
     12                          -  528829    9683     550893  2020     12
2021 1                           -  553934   10164     569769  2021      1
     2                           -  561327   10266     574926  2021      2
     3                           -  570303   10327     585933  2021      3
     4                           -  621340   10766     700904  2021      4

           WeekDays  Monthwise_Cured  Monthwise_Deaths  Monthwise_Confirmed
Date Date
2020 1            4              0.0               0.0                  1.0
     2            5              0.0               0.0                  2.0
     3            1              0.0               0.0                 35.0
     4            3            124.0              22.0                720.0
     5            6           -124.0             -22.0               4733.0
     6            1              0.0               0.0               1513.0
     7            4          46256.0            1536.0              60688.0
     8            0          84696.0            1640.0              92093.0
     9            2          91853.0            1723.0              93983.0
     10           5         103083.0            1885.0             115903.0
     11           0         122144.0            1592.0             111142.0
     12           3          80797.0            1307.0              70080.0
2021 1            6          25105.0             481.0              18876.0
     2            6           7393.0             102.0               5157.0
     3            2           8976.0              61.0              11007.0
     4            4          51037.0             439.0             114971.0

In [11]:
monthwise.dtypes

Time                         object
State/UnionTerritory         object
ConfirmedIndianNational      object
ConfirmedForeignNational     object
Cured                         int64
Deaths                        int64
Confirmed                     int64
Year                          int64
Month                         int64
WeekDays                      int64
Monthwise_Cured             float64
Monthwise_Deaths            float64
Monthwise_Confirmed         float64
dtype: object